center
  a.button.small.round.button-stylist href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://#{request.host_with_port}/image_selector.js';})();" Stylio Clipper
  h4 Drag bookmarklet to your browser bar to start adding to your store
