// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, h2, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  line-height: 1.25em;
}