.actions input {
	text-rendering: optimizelegibility;
	background-color: #0099ff;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	color: #FFFFFF;
	width: 300px;
	padding: 10px;
}

.formtastic .input .label {
	float: left;
	text-align: left;
	background: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #333;
	width: 110px;
}

.formtastic .boolean label {
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #333;
	margin-left: 110px;
}

.formtastic .action {
	margin-left: 110px;
}

.camera {
	width: 26px;
	height: 22px;
	background-image: url(camera-icon.png);
}