// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(grey-tile.jpg);
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 15px -15px;
  color: #666
}

.thumb-stylist{
  max-height: 200px;
  overflow: hidden;
}

.row-content {
  padding: 10px 20px;
}

.container-stylist {
  padding-top: 140px;
}

.row-stylist {
  border: 1px solid #CCC;
  margin-bottom: 10px;
  background-color: #FFF;
}

.panel-stylist {
  display: block;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #020714;
  background-image: url(image-strip.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

.stylist {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin: 0 0 0 -30px;
  line-height: 2em;
  float: left;
}

.button-stylist {
  background-color: #0099ff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  float:right;
  margin: 25px 0 0 0;
}

.button-stylist-small {
  float: right;
  background-color: #0099ff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #EEEEEE;
  margin: 30px 0 15px 0;
}
