// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(grey-tile.jpg);
}

p,h2,h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 3em;
  color: #666;
}

.login-link {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFF;
  cursor: pointer;
  float:right;
  margin-right: 25px;
}

.logged-in {
  float: right;
  margin-right: 20px;
}

.columns-login {
  margin-top: 35px;
}

.formtastic li { display: block; }

.replies{
  border: 1px solid #CCC;
  overflow: auto;
  padding:15px;
  margin-top:6px;
  background-color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}

.thumb-stylist{
  max-height: 200px;
  overflow: hidden;
}

.row-content {
  padding: 10px 20px;
}

.container-stylist {
  padding-top: 90px;
}

.row-stylist {
  border: 1px solid #CCC;
  margin-bottom: 10px;
  background-color: #FFF;
}

.panel-stylist {
  background-color: #020714;
  background-image: url(image-strip.jpg);
  background-repeat: no-repeat;
}

.stylist {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin: 0 0 0 -30px;
  line-height: 2em;
  float: left;
}

.stylist-grey {
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

.button-stylist {
  background-color: #0099ff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #FFFFFF;
  width: 300px;
}

.button-stylist-small {
  float: right;
  background-color: #0099ff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #EEEEEE;
  margin: 30px 0 15px 0;
}

.footer-stylist {
  background-color: #000;
  margin-top: 50px;
  padding: 20px 0;
  color: #FFF;
  line-height: 2em;
    .title-white {
      text-transform: uppercase;
      letter-spacing: 2px;
      }
      a{
      cursor: pointer;
      display: block;
      color: #EEEEEE;
        &:hover{color:#0099ff; }
      }
}

.d-grey {
background-color: #333333;
}